USE [question]
GO
/****** Object:  Table [dbo].[tablecolumn]    Script Date: 2023-06-27 2:44:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tablecolumn](
	[qid] [int] NOT NULL,
	[cid] [int] NOT NULL,
	[text] [nvarchar](max) NULL,
 CONSTRAINT [pk_column] PRIMARY KEY CLUSTERED 
(
	[qid] ASC,
	[cid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
